/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
   	&kp Q			&kp W			&kp E			&kp R			&kp T			&kp Y			&kp U			&kp I			&kp O			&kp P			
	&mt LGUI A		&mt LALT S		&mt LCTRL D		&mt LSHFT F		&kp G			&kp H		    &mt RSHFT J		&mt RCTRL K		&mt RALT L		&kp ENTER	
	&kp Z			&kp X			&kp C			&kp V			&kp B		    &kp N			&kp M			&kp COMMA		&kp DOT			&kp SLASH
	&kp ESC							&kp SEMI		&lt 1 SPACE		&lt 1 SPACE	    &kp BSPC		&kp SQT		                    &mo 2			&kp MINUS
    
			>;
		};

		nav_layer {
			bindings = <
	&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans		
	&trans		    &trans		    &trans		    &trans	        &trans			&trans		    &trans	        &trans		    &trans		    &trans	
	&trans			&trans			&trans			&trans			&trans		    &trans			&trans			&trans		    &trans		    &trans
	&trans						    &trans	        &trans		    &trans	        &trans		    &trans	                        &trans			&trans
			>;
		};

		symbol_layer {
			bindings = <
    &trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans		
	&trans		    &trans		    &trans		    &trans	        &trans			&trans		    &trans	        &trans		    &trans		    &trans	
	&trans			&trans			&trans			&trans			&trans		    &trans			&trans			&trans		    &trans		    &trans
	&trans						    &trans	        &trans		    &trans	        &trans		    &trans	                        &trans			&trans
			>;
		};

		F_layer {
			bindings = <
	&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans		
	&trans		    &trans		    &trans		    &trans	        &trans			&trans		    &trans	        &trans		    &trans		    &trans	
	&trans			&trans			&trans			&trans			&trans		    &trans			&trans			&trans		    &trans		    &trans
	&trans						    &trans	        &trans		    &trans	        &trans		    &trans	                        &trans			&trans
			>;
		};
	};
};